<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <include th:replace="views/backend/components/metas :: metas"></include>
    <include th:replace="views/backend/components/styles :: styles"></include>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- navbar -->
    <include th:replace="views/backend/components/navbar :: navbar"></include>
    <!-- sidebar -->
    <include th:replace="views/backend/personnel/include/sidebar :: sidebar"></include>

    <!-- content wrapper -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <a href="" data-toggle="modal" data-target="#add" class="btn bg-danger btn-flat"><i class="fas fa-plus-square"></i> Add Personnel</a>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Personnel</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Header (Page header) -->


        <!-- Main content -->
        <section class="content">
            <!--contain table-->
            <div class="section-body mt-3">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="card card-red card-outline">
                                <div class="card-body">
                                    <div class="box box-primary">
                                        <div class="box-body">

                                            <table class="table table-bordered table-hover text-center" width="100%">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>FullName</th>
                                                    <th>Contact</th>
                                                    <th>Email</th>
                                                    <th>Username</th>
                                                    <th>Password</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <div th:if="${not #lists.isEmpty(personnel)}">
                                                    <tr th:each="row:${personnel}" th:field="${row}">
                                                        <td th:text="${row.id}"></td>
                                                        <td th:text="${row.firstName + ' ' + row.middleName + ' ' + row.lastName}"></td>
                                                        <td th:text="${row.contact}"></td>
                                                        <td th:text="${row.email}"></td>
                                                        <td th:text="${row.username}"></td>
                                                        <td th:text="${row.password}"></td>

                                                        <td>
                                                            <div class="btn-group btn-group-sm">
                                                                <a th:href="@{/personnel/findById/(id=${row.id})}"
                                                                   data-toggle="modal" data-target="#editButton"
                                                                   class="btn btn-outline-info btn-xs"><i class="fa fa-pencil-alt"></i>
                                                                </a>

                                                                <a th:href="@{/delete-personnel/(id=${row.id})}"
                                                                   data-toggle="modal" data-target="#deleteModal" id="deleteButton"
                                                                   style="margin-left: 5px"
                                                                   class="btn btn-outline-danger btn-xs"><i class="fas fa-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </div>
                                                <div th:if="${#lists.isEmpty(personnel)}">
                                                    <tr>
                                                        <td>No Personnel exists!</td>
                                                    </tr>
                                                </div>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end contain table-->


            <!-- delete modal -->
            <div id="deleteModal" class="modal fade delete-modal animated rubberBand" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="../../../vendors/assets/img/sent.png" alt="" width="50" height="46">
                            <h3>Are you sure want to delete this Records?</h3>
                            <div class="m-t-20">
                                <a type="#" class="btn bg-white btn-rounded" data-dismiss="modal"><i class="fa fa-times"></i> Close</a>
                                <a type="submit" class="btn btn-outline-danger btn-rounded" id="delRef"><i class="fa fa-trash"></i>
                                    Delete</a>
                                <input type="hidden" name="id">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end pop up delete-->


            <!--add modal-->
            <div class="modal fade" id="add" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md">
                    <form th:action="@{/create-personnel}" method="post">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Add Personnel</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="firstNameAdd" class="col-form-label">First Name:</label>
                                    <input type="text" class="form-control form-rounded" id="firstNameAdd" name="firstName" required>
                                </div>

                                <div class="form-group">
                                    <label for="middleNameAdd" class="col-form-label">Middle Name:</label>
                                    <input type="text" class="form-control form-rounded" id="middleNameAdd" name="middleName" required>
                                </div>

                                <div class="form-group">
                                    <label for="lastNameAdd" class="col-form-label">Last Name:</label>
                                    <input type="text" class="form-control form-rounded" id="lastNameAdd" name="lastName" required>
                                </div>

                                <div class="form-group">
                                    <label for="contactAdd" class="col-form-label">Contact:</label>
                                    <input type="text" class="form-control form-rounded" id="contactAdd" name="contact" required>
                                </div>

                                <div class="form-group">
                                    <label for="emailAdd" class="col-form-label">Email:</label>
                                    <input type="text" class="form-control form-rounded" id="emailAdd" name="email" required>
                                </div>

                                <div class="form-group">
                                    <label for="usernameAdd" class="col-form-label">Username:</label>
                                    <input type="text" class="form-control form-rounded" id="usernameAdd" name="username" required>
                                </div>

                                <div class="form-group">
                                    <label for="passwordAdd" class="col-form-label">Password:</label>
                                    <input type="password" class="form-control form-rounded" id="passwordAdd" name="password" required>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                                <button type="submit" class="btn bg-primary btn-flat">
                                    <i class="fa fa-save"></i> Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--end add modal-->

            <!--edit modal-->
            <div class="modal fade" id="editButton" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md">
                    <form th:action="@{/update-personnel}" method="put">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Update Personnel</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="idEdit" class="col-form-label">Id:</label>
                                    <input type="text" class="form-control form-rounded" id="idEdit" name="id" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="firstNameEdit" class="col-form-label"> First Name:</label>
                                    <input type="text" class="form-control form-rounded" id="firstNameEdit" name="firstName" required>
                                </div>

                                <div class="form-group">
                                    <label for="middleNameEdit" class="col-form-label">Middle Name:</label>
                                    <input type="text" class="form-control form-rounded" id="middleNameEdit" name="middleName" required>
                                </div>

                                <div class="form-group">
                                    <label for="lastNameEdit" class="col-form-label">Last Name:</label>
                                    <input type="text" class="form-control form-rounded" id="lastNameEdit" name="lastName" required>
                                </div>

                                <div class="form-group">
                                    <label for="contactEdit" class="col-form-label">Contact:</label>
                                    <input type="text" class="form-control form-rounded" id="contactEdit" name="contact" required>
                                </div>

                                <div class="form-group">
                                    <label for="emailEdit" class="col-form-label">Email:</label>
                                    <input type="text" class="form-control form-rounded" id="emailEdit" name="email" required>
                                </div>

                                <div class="form-group">
                                    <label for="usernameEdit" class="col-form-label">Username:</label>
                                    <input type="text" class="form-control form-rounded" id="usernameEdit" name="username" required>
                                </div>

                                <div class="form-group">
                                    <label for="passwordEdit" class="col-form-label">Password:</label>
                                    <input type="text" class="form-control form-rounded" id="passwordEdit" name="password" required>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                                <button type="submit" class="btn bg-success btn-flat">
                                    <i class="fa fa-refresh"></i> Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--end edit modal-->


        </section>
        <!--end of main content-->

    </div>
    <!-- end content wrapper -->

    <!--footer-->
    <include th:replace="views/backend/components/footer :: footer"></include>

</div>
<include th:replace="views/backend/components/scripts :: scripts"></include>


<!--delete modal-->
<script>
    /** Delete Modal **/
    $('document').ready(function () {

        /** Delete Modal **/
        $('.table #deleteButton').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $('#deleteModal #delRef').attr('href', href);
            $('#deleteModal').modal();
        });

    });
</script>

<!--edit modal-->
<script>

    $('document').ready(function () {

        $('.table .btn-outline-info').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $.get(href, function (payments) {
                $('#idEdit').val(payments.id);
                $('#firstNameEdit').val(payments.firstName);
                $('#middleNameEdit').val(payments.middleName);
                $('#lastNameEdit').val(payments.lastName);
                $('#contactEdit').val(payments.contact);
                $('#emailEdit').val(payments.email);
                $('#usernameEdit').val(payments.username);
                $('#passwordEdit').val(payments.password);

            });
            $('#editModal').modal();
        });
    });
</script>

</body>
</html>